g#beat1 > rect:first-child
{
  fill:#ffffff;
}
g#beat1 > rect:first-child + rect
{
  fill: #dcdcdc;
}
g#beat2 > rect:first-child
{
  fill:#ffffff;
}
g#beat2 > rect:first-child + rect
{
  fill:#bebebe;
}
g#measure > line
{
  stroke:black;
  stroke-width:0.1;
  fill:black;
}
g#beat1 > line
{
  stroke:black;
  fill:black;
}
g#DLarrow, g#ULarrow, g#CNarrow, g#URarrow, g#DRarrow, g#mine
{
  fill-opacity:1;
  stroke:black;
  stroke-width:0.5;
  stroke-opacity:1;
}
g#DLarrow path:first-child, g#ULarrow path:first-child,
g#URarrow path:first-child, g#DRarrow path:first-child,
g#CNarrow path:first-child
{
	stroke-width: 1;
}

g#mine > circle
{
	stroke-width: 0.1;
}
g#mine > circle:first-child
{
  fill:red;
}
g#mine > circle:first-child + circle
{
  fill:black;
}
g#CNarrow > rect
{
  fill:black;
}
g#DLarrow > line, g#ULarrow > line, g#URarrow > line, g#DRarrow > line
{
  stroke: black;
  stroke-width: 0.1;
}

g#hold_bdy > rect, g#hold_end > path
{
  fill-opacity: 1;
  fill:darkblue;
  stroke:none;
}
g#roll_bdy > rect, g#roll_end > path
{
  fill-opacity: 1;
  fill:purple;
  stroke:none;
}
g#hold_bdy > line, g#hold_end > path, g#roll_bdy > line, g#roll_end > path
{
  stroke:black;
  stroke-width: 0.3;
}
.note_004 { fill: blue;    }
.note_008 { fill: red;     }
.note_012 { fill: purple;  }
.note_016 { fill: yellow;  }
.note_024 { fill: pink;    }
.note_032 { fill: orange;  }
.note_048 { fill: aqua;    }
.note_064 { fill: lime;    }
.note_192 { fill: #808080; }
text
{
  font-family: "DejaVu Sans Mono", "Courier New", Courier, monospace;
  font-size: 0.8em;
}
.bpm
{
  font-size: 8px;
  fill: blue;
}
line.bpm
{
  stroke: blue;
  stroke-width: 1;
}
.stop
{
  font-size: 8px;
  fill: red;
}
line.stop
{
  stroke: red;
  stroke-width: 1;
}