@import "main.css";

#base
{
    margin: 0 auto;
    border-collapse: collapse;
}
#base > caption
{
    margin-bottom: 10px;
}
#base > thead > tr > th
{
    font-weight: normal;
    font-style: italic;
}
#base > thead > tr > th, #base > tbody > tr > td
{
    border: 2px solid #003366;
}
#base > tbody > tr > td:first-child
{
    padding: 3px;
    font-family: "DejaVu Sans", Arial, Helvetica, sans;    
}
#base > tbody > tr > td
{
    padding-left: 1em;
    padding-right: 1em;
    font-family: "DejaVu Sans Mono", "Courier New", Courier, monospace;
}
.pager > *
{
	padding-left: .5em;
	padding-right: .5em;
}

.pager ul.pages {
display:block;
border:none;
text-transform:uppercase;
font-size:10px;
margin:10px 0 50px;
padding:0;
}

.pager ul.pages li {
list-style:none;
float:left;
border:1px solid #ccc;
text-decoration:none;
margin:0 5px 0 0;
padding:5px;
}

.pager ul.pages li:hover {
border:1px solid #003f7e;
}

.pager ul.pages li.pgEmpty {
border:1px solid #eee;
color:#eee;
}

.pager ul.pages li.pgCurrent {
border:1px solid #003f7e;
color:#000;
font-weight:700;
background-color:#eee;
}