@import "main.css";

#multiCol
{
	margin-right: 0;
}

#multiCol > li
{
	margin-right: 0;
	margin-left: 0;
}
#multiCol > li > div
{
	margin-right: 0;
}
#multiCol > li > div:first-child
{
	margin-right: 10px;
	margin-left: 0;
}