@import "main.css";
@import "_pager.css";

@media screen
{
	.edit {
	margin: 0px 20px 0px 20px;
	border-bottom: 1px solid #25262E;
	line-height: 1.2em;
	padding: 6px;
	height: 50px;
	background: url("/images/editfill.png") top repeat-x;
	}
	
.edit-statistics dt, .edit-statistics dd {
	display: inline;
	font-size: 90%;
	}
	
.edit-statistics dt {
	margin-right: 3px;
	font-weight: bold;
	}
	
.edit-statistics dd {
	margin-right: 6px;
	}
		
dl.edit-statistics {
		margin-bottom: 0px !important;
	}
	
.edit-title {
	font-size: 130%;
	font-weight: bold;
	}
	
.edit-difficulty {
	font-size: 220%;
	float: right;
	padding: 8px 2px 10px 120px;
	margin-top: 10px;
	}
	
.single-style .edit-difficulty {
	background: url("/images/singleglyph.png") right center no-repeat;
	}
	
.routine-style .edit-difficulty {
	background: url("/images/routineglyph.png") right center no-repeat;
	}	

.double-style .edit-difficulty {
	background: url("/images/doubleglyph.png") right center no-repeat;
	}
	
.halfdouble-style .edit-difficulty {
	background: url("/images/halfdoubleglyph.png") right center no-repeat;
	}
	
.edit-left {
	width: 704px;
	display: inline-block;
	}
	
.edit-right {
	width: 160px;
	display: inline-block;
	vertical-align: top;
	}
	
	.edit dt:after
	{
		content: ":";
	}
}
