header, footer, nav, article, section
{
	display: block;
}
.error_list
{ 
	color:red; font-weight:bold;
}
.hide
{ 
	display: none; visibility: hidden; 
}
strong
{
	font-weight:bold
}
.success_list
{
	color:green; font-weight:bold;
}
@media screen
{
	html
	{ 
		background: url("/images/body-bg.png") repeat-y scroll center top #404551;
	}  
	html,.sans 
	{ 
		font-family:Arial,Helvetica,sans-serif,sans; font-size:1em;
	}
	.serif 
	{ 
		font-family:"Times New Roman",Times,serif;
	} 
	pre,.mono
	{ 
		font-family:Courier,"Courier New",monospace;
	} 
	.tcenter 
	{ 
		text-align:center
	}
	p,pre 
	{ 
		line-height:1.3em;
	}  
	table td,table th 
	{ 
		padding:3px
	}
	body
	{ 
		line-height:130%;
		background: #404551 url("/images/body-bg.png") top center repeat-y;
		font-size:81.25%/1.462em;
		color: #fff;
	}
	a:link, a:visited 
	{
		color: #F4C533;
		text-decoration: none;
	}
	
	a:hover, a:active 
	{
		color: #F8D878;
		text-decoration: none;
	}
	header > *
	{
		background: #000 url("/images/head.png") left repeat-x;
		height: 80px;
	}
	header > h1 
	{ 
		text-align:left; font-size:2em; font-weight:bold; 
		width: 700px; margin-right: 0; margin-bottom: 0;
	}
	header >h1 >a:link, header >h1 >a:visited
	{ 
		color:inherit; text-decoration:none
	}
	#logo 
	{
		margin-right: 0;
	}

	div#userbar
	{
		padding-left: 10px;
		padding-right: 10px;
		display: inline-block;
	}

	article
	{
		background: url("/images/content-bg.png") no-repeat scroll center top #464957;
	}
	
	#bd 
	{
		margin: 10px 6px 6px 6px;
	}

	article > h2
	{
		clear: both;
		display: block;
		padding-top: 1em;
		text-align: center;
	}

	nav#main_nav
	{
		background: #404551 url("/images/nav-active.png") repeat-x;
	}

	footer
	{
		margin-left: 0;
		margin-right: 0;
		background: #464957;
	}
	footer p 
	{
		margin: 4px 2px 4px 4px;
		font-size: 80%;
	}
	
	#footer-left, #footer-right 
	{
		height: 54px;
		background: #363843 url("/images/content-bg.png") top center no-repeat;
		border: 1px #25262E;
		border-style: solid none solid none;
		margin-right: 0;
		margin-left: 0;
	}
		
	#footer-right 
	{
		width:230px;
		padding-right: 10px;
		text-align: right;
	}
	
	/* Menu skin information */
	
	/*** Menu skin ***/
	.sf-menu 
	{
		float:	left;
	}
	.sf-menu a 
	{
		padding: .75em 1em;
		text-decoration:none;
		font-weight: bold;
	}
	.sf-menu a, .sf-menu a:visited  /* visited pseudo selector so IE6 applies text colour*/
	{ 
		color:	#FFF;
		text-shadow: 1px 1px #000;
	}
	.sf-menu li 
	{
		background: #383B47 url("/images/nav-link.png") repeat-x;
		border-left: 1px solid #383B47;
	}
	.sf-menu li li 
	{
		background: #383B47;
		border: none;
		border-left: none;
	}
	.sf-menu li li li 
	{
		background:	#383B47;
		border: none;
		border-left: none;
	}
	.sf-menu li:hover, .sf-menu li.sfHover,
	.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active 
	{
		background: url("/images/nav-hover.png") repeat-x;
		outline:		0;
	}
	
	#userbar ul {
		list-style:none outside none !important;
		float: right;
		padding-right: 4px;
		}
		
	#userbar li {
		display: inline;
		margin: 0 0 0 8px;
		}
		
	#userbar li a:link, #userbar li a:visited {
		background: #383B47 url("/images/nav-link.png") repeat-x;
		color: #FFF;
		text-shadow: 1px 1px #000;
		border: 1px #272933;
		border-style: none solid solid solid;
		padding: 6px 8px; 
		font-weight: bold;
		text-decoration: none;
		-webkit-border-bottom-right-radius: 6px;
		-webkit-border-bottom-left-radius: 6px;
		-moz-border-radius-bottomright: 6px;
		-moz-border-radius-bottomleft: 6px;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		}
		
	#userbar li a:hover {	
		background: url("/images/nav-hover.png") repeat-x;
		}
		
		.fg-button { 
	   outline: 0; 
	   margin:0 4px 0 0; 
	   padding: .4em 1em; 
	   text-decoration:none !important; 
	   cursor:pointer; 
	   position: relative; 
	   text-align: center; 
	   zoom: 1; 
	}
	
	#userbar .ui-widget
	{
		margin-top: 27px;
		margin-left: 175px;
		width: 200px;
	}

	#userbar .ui-widget > div
	{
		padding: 0 .7em;
	}

	#userbar .ui-widget span
	{
		float: left;
		margin-right: .3em;
	}

	#userbar p
	{
		margin-bottom: 0;
	}

	/* Login form details below. */

	form#loginForm dl
	{ 
		font-family:"DejaVu Sans Mono",Courier,"Courier New",monospace
	} 
	form#loginForm dt 
	{ 
		clear:both; width:8em; float:left
	} 
	form#loginForm > fieldset >dl >dt
	{ 
		padding-left:1em; line-height:1.3em; padding-top:0.3em
	}
	form#loginForm > fieldset
	{
		margin-bottom: 0px;
		border: none;
	}
	form#loginForm dt:after
	{ 
		content:":"
	} 
	form#loginForm dd 
	{ 
		padding-left:8em; line-height:1.3em
	}
	/* common edit stuff. */
	.edit
	{
		margin: 0px 20px 0px 20px;
		border-bottom: 1px solid #25262E;
		line-height: 1.2em;
		padding: 6px;
		height: 50px;
		background: url("/images/editfill.png") top repeat-x;
	}
	
	.edit-statistics dt, .edit-statistics dd
	{
		display: inline;
		font-size: 90%;
	}
	
	.edit-statistics dt
	{
		margin-right: 3px;
		font-weight: bold;
	}
	
	.edit-statistics dd
	{
		margin-right: 6px;
	}
		
	dl.edit-statistics
	{
		margin-bottom: 0px !important;
	}
	
	.edit-title 
	{
		font-size: 130%;
		font-weight: bold;
	}
	
	.edit-difficulty 
	{
		font-size: 220%;
		float: right;
		padding: 8px 2px 10px 120px;
		margin-top: 10px;
	}
	
	.single-style .edit-difficulty 
	{
		background: url("/images/singleglyph.png") right center no-repeat;
	}
	
	.routine-style .edit-difficulty 
	{
		background: url("/images/routineglyph.png") right center no-repeat;
	}	

	.double-style .edit-difficulty 
	{
		background: url("/images/doubleglyph.png") right center no-repeat;
	}
	
	.halfdouble-style .edit-difficulty 
	{
		background: url("/images/halfdoubleglyph.png") right center no-repeat;
	}
	
	.edit-left 
	{
		width: 704px;
		display: inline-block;
	}
	
	.edit-right 
	{
		width: 160px;
		display: inline-block;
		vertical-align: top;
	}
	
	.edit dt:after
	{
		content: ":";
	}
}
