/* @import "setup.css";*/
header, footer, nav, article, section
{
	display: block;
}
.error_list { color:red; font-weight:bold}
.hide { display: none; visibility: hidden; }
strong  {font-weight:bold}.success_list {color:green;font-weight:bold}
@media screen{
	html { 
		background: url("/images/body-bg.png") repeat-y scroll center top #404551}  
	html,.sans { font-family:"DejaVu Sans",Arial,Helvetica,sans; 
font-size:1em} .serif { font-family:"DejaVu Serif","Times New Roman",Times,serif} 
pre,.mono 
{ font-family:"DejaVu Sans Mono",Courier,"Courier New",monospace} .tcenter { 
text-align:center}
p,pre { line-height:1.3em; /* padding-top:15px; padding-bottom:15px */}  
table td,table th { padding:3px}  

body { line-height:130%; }  

header >h1 { text-align:left; font-size:2em; font-weight:bold; width: 700px; margin-right: 0; margin-bottom: 0;
	  }
	 
header >h1 >a:link,header >h1 >a:visited { color:inherit; text-decoration:none}    

div#userbar
{
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

article
{
	background: url("/images/content-bg.png") no-repeat scroll center top #464957;
}

article > h2
{
	clear: both;
	display: block;
	padding-top: 1em;
	text-align: center;
}

nav#main_nav
{
	background: #404551 url("/images/nav-active.png") repeat-x;
}

footer
{
	margin-left: 0;
	margin-right: 0;
	background: #464957;
}
footer > p
{
	
}

#userbar .ui-widget
{
	margin-top: 27px;
	margin-left: 175px;
	width: 200px;
}

#userbar .ui-widget > div
{
	padding: 0 .7em;
}

#userbar .ui-widget span
{
	float: left;
	margin-right: .3em;
}

#userbar p
{
	margin-bottom: 0;
}

/* Login form details below. */

form#loginForm dl
	{ 
		font-family:"DejaVu Sans Mono",Courier,"Courier New",monospace
	} 
	form#loginForm dt 
	{ 
		clear:both; width:8em; float:left
	} 
	form#loginForm > fieldset >dl >dt
	{ 
		padding-left:1em; line-height:1.3em; padding-top:0.3em
	}
	form#loginForm > fieldset
	{
		margin-bottom: 0px;
		border: none;
	}
	form#loginForm dt:after
	{ 
		content:":"
	} 
	form#loginForm dd 
	{ 
		padding-left:8em; line-height:1.3em
	}

}