@import "main.css";

@media screen
{
	h3
	{
		font-size: 1.5em;
		font-weight: bold;
	}
	h3, section > p
	{
		text-align: center;
	}
	nav#choices > ul
	{
		list-style-type: none;
		margin-top: 10px;
		margin-bottom: 20px;
		text-align: center;
	}
	nav#choices > ul > li
	{
		margin-left: 0;
	}
	nav#choices > ul > li > a
	{
		margin: 0.2em 1em;
	}
	
	section#content > section
	{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	section#content > section h3
	{
		margin-top: 10px;
	}
		
	section#content > section dl
	{
		padding: 10px;
	}
		
	section#content > section dd
	{
		padding-left: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

