body {
	background: #404551 url("/images/body-bg.png") top center repeat-y;
	font:81.25%/1.462em Arial,Helvetica,sans-serif;
	color: #fff;
	}
	
#nav {
	background: #404551 url("/images/nav-active.png") repeat-x;
	}

a:link, a:visited {
		color: #F4C533;
		text-decoration: none;
		}
	
a:hover, a:active {
		color: #F8D878;
		text-decoration: none;
		}	
	
article {
		background: #464957 url("/images/content-bg.png") top center no-repeat;
	}

#bd {
		margin: 10px 6px 6px 6px;
		}
		
#logo, #userbar, #header {
		background: #000 url("/images/head.png") left repeat-x;
		height: 80px;
		}
		
#logo {
		margin-right: 0;
		}
		
#userbar {
		margin-right: 0;
		margin-left: 0;
		width: 240px
		}
		
footer p {
			margin: 4px 2px 4px 4px;
			font-size: 80%;
		}
		
#footer-left, #footer-right {
		height: 54px;
		background: #363843 url("/images/content-bg.png") top center no-repeat;
		border: 1px #25262E;
		border-style: solid none solid none;
		margin-right: 0;
		margin-left: 0;
		}
		
#footer-right {
		width:240px;	
		}
		
	
/*** Menu skin ***/
.sf-menu {
	float:			left;
}
.sf-menu a {
	padding: 		.75em 1em;
	text-decoration:none;
	font-weight: bold;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#FFF;
	text-shadow: 1px 1px #000;
}
.sf-menu li {
	background: #383B47 url("/images/nav-link.png") repeat-x;
	border-left: 1px solid #383B47;
}
.sf-menu li li {
	background: #383B47;
	border: none;
	border-left: none;
}
.sf-menu li li li {
	background:	#383B47;
	border: none;
	border-left: none;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background: url("/images/nav-hover.png") repeat-x;
	outline:		0;
}

#userbar ul {
	list-style:none outside none !important;
	float: right;
	padding-right: 4px;
	}
	
#userbar li {
	display: inline;
	margin: 0 0 0 8px;
	}
	
#userbar li a:link, #userbar li a:visited {
	background: #383B47 url("/images/nav-link.png") repeat-x;
	color: #FFF;
	text-shadow: 1px 1px #000;
	border: 1px #272933;
	border-style: none solid solid solid;
	padding: 6px 8px; 
	font-weight: bold;
	text-decoration: none;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	}
	
#userbar li a:hover {	
	background: url("/images/nav-hover.png") repeat-x;
	}