@import "_svg.css";

defs > g
{
	fill-opacity: 1;
	stroke-width: 0.5;
	stroke-opacity: 1;
}

g#arrowDL > path, g#P0arrowDL > path, g#P1arrowDL > path,
g#arrowCN > path, g#P0arrowCN > path, g#P1arrowCN > path,
g#liftDL > path, g#P0liftDL > path, g#P1liftDL > path,
g#fakeDL > path, g#P0fakeDL > path, g#P1fakeDL > path
{
	stroke-width: 1;
	stroke: black;
}

g#mineDL > circle, g#P0mineDL > circle, g#P1mineDL > circle
{
	stroke-width: 1;
	stroke: black;
}

g#mineDL > circle:first-child,
g#P0mineDL > circle:first-child,
g#P1mineDL > circle:first-child
{
  fill:red;
}
g#mineDL > circle:first-child + circle,
g#P0mineDL > circle:first-child + circle,
g#P1mineDL > circle:first-child + circle
{
  fill:black;
}
g#arrowCN > rect, g#P0arrowCN > rect, g#P1arrowCN > rect
{
  fill:black;
}

g#holdBodyDL > rect, g#P0holdBodyDL > rect, g#P1holdBodyDL > rect,
g#holdEndDL > path, g#P0holdEndDL > path, g#P1holdBodyDL > path
{
  fill-opacity: 1;
  fill:darkblue;
  stroke:none;
}
g#rollBodyDL > rect, g#P0rollBodyDL > rect, g#P1rollBodyDL > rect,
g#rollEndDL > path, g#P0rollEndDL > path, g#P1rollBodyDL > path
{
  fill-opacity: 1;
  fill:#9932CC;
  stroke:none;
}

g#holdBodyDL > line, g#P0holdBodyDL > line, g#P1holdBodyDL > line,
g#holdEndDL > path, g#P0holdEndDL > path, g#P1holdEndDL > path,
g#rollBodyDL > line, g#P0rollBodyDL > line, g#P1rollBodyDL > line,
g#rollEndDL > path, g#P0rollEndDL > path, g#P1rollEndDL > path
{
  stroke:black;
  stroke-width: 0.3;
}

g#P0arrow > *:first-child, g#P0center > *:first-child,
g#P0mine > *:first-child, g#P0fake > *:first-child,
g#P0lift > *:first-child
{
	stroke: #483D8B;
}
g#P1arrow > *:first-child, g#P1center > *:first-child,
g#P1mine > *:first-child, g#P1fake > *:first-child,
g#P1lift > *:first-child
{
	stroke: #b22222;
}