@import "_svg.css";

g#arrowDL > path,
g#holdDL > path,
g#holdEndDL > path,
g#rollDL > path,
g#rollEndDL > path,
g#mineDL > path,
g#liftDL > path,
g#fakeDL > path
{
	stroke: black;
	stroke-width: 0.7;
}

.note_004 { fill: blue;    }
.note_008 { fill: red;     }
.note_012 { fill: purple;  }
.note_016 { fill: yellow;  }
.note_024 { fill: pink;    }
.note_032 { fill: orange;  }
.note_048 { fill: aqua;    }
.note_064 { fill: lime;    }
.note_192 { fill: #808080; } 
